@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


$typography-font-family: 'Outfit', sans-serif !default;

$primary: #2755e1;
$secondary: #f6f8f9;
$accent: #0d1821;
$dark: #1d1d1d;
$info: #1963d1;
$positive: #2dcd98;
$negative: #692b37;
$warning: #f2c037;
$grey: #8083a3;
$grey-light: #f5f5fa;
$black: #171721;
